@{
    ViewBag.Title = "Groups";
}
<a href="/groups/" class="homeButton"><img width="100" height="100" src="/img/Home.svg" alt="home"/></a>
<h1>People</h1>
<section class="sectionMain">
    <div class="addPerson"></div>
    <div class="peopleContainer"></div>
</section>
<div class="mobileNav">
    @{int dim = 80;}
    <div><a href="" class="mobileNavItem payments"><img src="/img/spreaders-logo.svg" height="@dim" width="@dim"/><span><br>Payments</span></a></div>
    <div><a href="" class="mobileNavItem people active"><img src="/img/transaction-icon.svg"  height="@dim" width="@dim"/><span><br>People</span></a></div>
    <div><a href="" class="mobileNavItem payUp"><img src="/img/spreaders-logo.svg"  height="@dim" width="@dim"/><span><br>Pay up</span></a></div>
</div>


@section scripts {
    @Scripts.Render("~/js/live/pages/people")
}